body {
  padding: 30px;
}

main {
  display: flex;
  flex-direction: row;
}

header {
  background: lightblue;
}

section {
  background: lightgreen;
  flex-basis: 60%;
  flex-grow: 1;
}

article {
  background: white;
  margin: 0 0 1rem 0;
}

aside {
  background: pink;
  flex-basis: 30%;
}

header, article, section, .module {
  padding: 1rem;
}
