::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #CBCBCB;
  border-radius: 5px;
}
