.body{
  margin: 150px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-items: center;
}

.around-box{
  display: flex;
  width: 900px;
  height: 500px;
  border: 1px solid #000000;
}

.slider-container{
  position: relative;
  width: 900px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slider-content{
  display: flex;
  align-items: center;
  justify-content: center; 
}

.slide.slide_central{
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  transform: translateX(0);
}

.button{
  display: flex;
  height: 500px;
  width: 30px;
  align-self: center;
  border: 0px;
  background-color: #9c9c9c1a;
  outline: none;
  cursor: pointer;
}

.button:hover, :focus{
  background-color: #83bbfc7e;
}

.arrow{
  display: flex;
  height: 20px;
  align-self: center;
  justify-self: center;
}

.slide.slide_left,
.slide.slide_right{
  display: none;
}

.slide.slide_left.slide_to-left{
  animation: left-slide-to-left-shift 1s;
}

.slide.slide_left.slide_to-right{
  animation: left-slide-to-right-shift 1s;
}

.slide.slide_right.slide_to-left{
  animation: right-slide-to-left-shift 1s;
}

.slide.slide_right.slide_to-right{
  animation: right-slide-to-right-shift 1s;
}

.slide.slide_central.slide_to-left{
  animation: central-slide-to-left-shift 1s;
}

.slide.slide_central.slide_to-right{
  animation: central-slide-to-right-shift 1s;
}

@keyframes left-slide-to-left-shift{
  from{
    transform: translateX(0);
  }
  
  to{
    transform: translateX(-100%);
  }
}

@keyframes left-slide-to-right-shift{
  from{
    transform: translateX(-200%);
  }
  
  to{
    transform: translateX(-100%);
  }
}

@keyframes right-slide-to-left-shift{
  from{
    transform: translateX(200%);
  }
  
  to{
    transform: translateX(100%);
  }
}

@keyframes right-slide-to-right-shift{
  from{
    transform: translateX(0);
  }
  
  to{
    transform: translateX(100%);
  }
}

@keyframes central-slide-to-left-shift{
  from{
    transform: translateX(100%);
  }
  
  to{
    transform: translateX(0);
  }
}

@keyframes central-slide-to-right-shift{
  from{
    transform: translateX(-100%);
  }
  
  to{
    transform: translateX(0);
  }
}
