.create-new-list {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 2px 10px;
  width: 181px;
  height: 33px;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.create-new-list:hover {
  background-color: #d4e8f3;
}

.create-new-list img {
  margin-right: 5px;
}

.create-new-list p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
